<%- include("../includes/head") %>
  <link rel="stylesheet" href="/css/pages/dictionary.css">
  <link rel="stylesheet" href="/css/includes/footer.css">
  <link rel="stylesheet" href="/css/includes/badges.css">
  <link rel="stylesheet" href="/css/components/button.css">
  <link rel="stylesheet" href="/css/components/input.css">
  <link rel="stylesheet" href="/css/components/loader.css">
  <link rel="stylesheet" href="/css/components/separator.css">
  <link rel="stylesheet" href="/css/components/link.css">
  <link rel="stylesheet" href="/css/components/navigation.css">
  <link rel="stylesheet" href="/css/components/sidebar.css">
  <link rel="stylesheet" href="/css/components/swiper.css">
  <link rel="stylesheet" href="/css/includes/overlay.css">
  </head>

	<body>
    <%- include('../components/navigation.ejs', {routePath: dictionaryPath})%>
    <main class="main">
      <form class="search__form">
        <%- include('../components/input.ejs', {
          id: "search",
          label: "Пошук",
          placeholder: '"Введіть сюди ваше слово"',
          className: "search__input",
          labelClassName: "search__input-label",
          dataAttributes: {
            "data-input-word": ""
          }
        }); %>
        <p class="error-message error-message--word" data-error-word></p>

        <button class="search__icon-container" type="button">
          <img class="search__icon" src="/assets/icons/search.svg" alt="search icon">
        </button>
      </form>

      <div class="loader-container hidden">
        <%- include("../components/loader.ejs", {
          size: 'large'
        }) %>
      </div>

      <section class="search-not-found hidden">
        <h2 class="search-not-found__heading">Не вдалося знайти твоє слово</h2>
        <div class="search-not-found__image-container">
          <img class="search-not-found__image" src="/assets/images/shocked-black-guy.png" alt="shocked-black-guy">
        </div>
      </section>

      <section class="default-content">
        <h2 class="default-content__heading">Знайди те, що цікавить саме тебе</h2>
        <p class="default-content__description">Відкрий для себе значення, походження та багато іншого. Твій пошук знань починається тут.</p>
      </section>

      <div class="search-results-container hidden">
        <section class="search-results">
          <h2 class="search-results__heading hidden">Результати</h2>
          <div class="search-result">
            <div class="word-container">
              <h3 class="word hidden"></h3>
              <div class="badges">
              </div>
            </div>
            <div class="transcription hidden">
              <button class="play-transcription-btn hidden">
                <img src="/assets/icons/audio.svg" alt="audio icon">
              </button>
              <p class="transcription-content"></p>
            </div>
          </div>
          <div class="definitions hidden">
            <h3 class="definitions__header">Визначення</h3>
          </div>
        </section>
        <section class="additional-information">
          <%- include('../components/swiper.ejs', {
            className: "images-slider"
          }) %>
        </section>
      </div>
    </main>
    <%- include('../includes/overlay.ejs')%>
    <%- include('../includes/footer.ejs') %>

    <script src="/js/dictionary.js"></script>
    <script>
      Library.configure();
    </script>
	</body>
<%- include("../includes/end") %>
