<%- include("../includes/head") %>
  <link rel="stylesheet" href="/css/pages/favorites.css">
  <link rel="stylesheet" href="/css/includes/footer.css">
  <link rel="stylesheet" href="/css/components/button.css">
  <link rel="stylesheet" href="/css/includes/badges.css">
  <link rel="stylesheet" href="/css/components/link.css">
  <link rel="stylesheet" href="/css/components/navigation.css">
  <link rel="stylesheet" href="/css/components/loader.css">
  <link rel="stylesheet" href="/css/components/sidebar.css">
  <link rel="stylesheet" href="/css/includes/overlay.css">
  </head>
  <body>
    <%- include('../components/navigation.ejs', {
      routePath: favoritesPath,
      user,
    })%>
    <main class="main">
      <section class="favorites">
        <h2 class="favorites__heading">Перелік збережених слів</h2>

        <div class="loader-container hidden">
          <%- include("../components/loader.ejs", {
            size: 'large'
          }) %>
        </div>

        <% if (favoriteWords?.length > 0) { %>
          <div class="filters-container">
            <%- include('../components/button.ejs', {
              label: "Відфільтрувати",
              className: "favorites__button"
            }) %>

            <div class="filters hidden">
              <div class="filter__item">
                <p class="filter__item-name">Частини мови:</p>
                <div class="filter__item-filters">
                  <div class="filter__item-filter">
                    <input type="checkbox" value="adjective" id="adjective" checked>
                    <label for="adjective">adjective</label>
                  </div>

                  <div class="filter__item-filter">
                    <input type="checkbox" value="adverb" id="adverb" checked>
                    <label for="adverb">adverb</label>
                  </div>

                  <div class="filter__item-filter">
                    <input type="checkbox" value="conjunction" id="conjunction" checked>
                    <label for="conjunction">conjunction</label>
                  </div>

                  <div class="filter__item-filter">
                    <input type="checkbox" value="interjection" id="interjection" checked>
                    <label for="interjection">interjection</label>
                  </div>

                  <div class="filter__item-filter">
                    <input type="checkbox" value="noun" id="noun" checked>
                    <label for="noun">noun</label>
                  </div>

                  <div class="filter__item-filter">
                    <input type="checkbox" value="preposition" id="preposition" checked>
                    <label for="preposition">preposition</label>
                  </div>

                  <div class="filter__item-filter">
                    <input type="checkbox" value="pronoun" id="pronoun" checked>
                    <label for="pronoun">pronoun</label>
                  </div>

                  <div class="filter__item-filter">
                    <input type="checkbox" value="verb" id="verb" checked>
                    <label for="verb">verb</label>
                  </div>
                </div>
              </div>

              <div class="filters__cta">
                <%- include('../components/button.ejs', {
                  label: "Скинути фільтри",
                  className: "filters__cta-reset"
                }) %>
                <%- include('../components/button.ejs', {
                  label: "Очистити фільтри",
                  className: "filters__cta-clear-all"
                }) %>
              </div>

              <button class="filters__close-btn">
                <img src="/assets/icons/close.svg" alt="close icon">
              </button>
            </div>
          </div>

          <div class="words">
            <% favoriteWords?.forEach((word) => { %>
              <div class="word" data-word="<%= word?.word %>">
                <a class="word__image-container" href="<%= dictionaryPath %>?word=<%= word?.word ?? "" %>">
                  <img src="<%= word?.image?.src ? word.image.src : '/assets/images/placeholder-image.jpg' %>" alt="<%= word?.image?.src ? word.image.alt : 'Placeholder image' %>" class="word__image">
                </a>

                <div class="word__content">
                  <div class="word-definition">
                    <div class="word-container">
                      <a class="word-link" href="<%= dictionaryPath %>?word=<%= word?.word ?? "" %>">
                        <h3 class="word__word"><%= word?.word ?? "No word" %></h3>
                      </a>
                      <div class="badges">
                        <% word?.partOfSpeech.forEach((part) => { %>
                          <div class="badge">
                            <%= part %>
                          </div>
                        <% }) %>
                      </div>
                    </div>
                    <p class="word__description">
                      <%= word?.meaning ?? "" %>
                    </p>
                  </div>
                </div>

                <button class="remove-word-btn" data-word="<%= word?.word %>">
                  <img src="/assets/icons/bin.svg" alt="bin icon">
                </button>
              </div>
            <% }) %>
          </div>
        <% } else { %>
          <div class="default-content">
            <p class="default-content__description">Твої збережені слова будуть відображені тут.</p>
          </div>
        <% } %>
      </section>
    </main>
    <%- include('../includes/overlay.ejs')%>
    <%- include('../includes/footer.ejs') %>

    <script src="/js/favorites.js"></script>
    <script>
      Library.configure();
    </script>
  </body>

<%- include("../includes/end") %>
