<%- include("../includes/head") %>
  <link rel="stylesheet" href="/css/pages/home.css">
  <link rel="stylesheet" href="/css/includes/footer.css">
  <link rel="stylesheet" href="/css/components/button.css">
  <link rel="stylesheet" href="/css/includes/overlay.css">
  <link rel="stylesheet" href="/css/components/link.css">
  <link rel="stylesheet" href="/css/components/navigation.css">
  <link rel="stylesheet" href="/css/components/sidebar.css">
  <link rel="stylesheet" href="/css/components/review.css">
  
  </head>
	<body>
    <%- include('../components/navigation.ejs', {routePath: homePath})%>
    <main class="main">
      <section class="hero-container">
        <div class="hero-description-container">
          <div class="heading-container">
            <h1 class="heading">Онлайн <span class="gradient-text">словник</span></h1>
            <p class="sub-title">Шукаєш слова? Знайди їх тут!</p>
          </div>
          <ul class="advantages-list">
            <li class="advantages-list-item">Зручна система пошуку</li>
            <li class="advantages-list-item">Наочні <span class="underlined-text">приклади</span> використання</li>
            <li class="advantages-list-item">Зберігай та вивчай нові слова</li>
          </ul>
        </div>
        <div class="hero-image-container">
          <img class="hero-image" src="/assets/images/hero-image.png" alt="a woman with books">
        </div>
      </section>

      <%- include("../components/separator.ejs") %>

      <section class="reviews-container">
        <% reviews.map(review => { %>
          <%- include("../components/review.ejs", review) %>
        <% }) %>
      </section>

      <section class="cta-start">
        <div class="cta-start__content">
          <h2 class="cta-start__heading">Розпочни вже зараз</h2>
          <%- include('../components/button.ejs', {
            type: "submit",
            label: "Знайти слово",
            className: "cta-start__button",
            href: dictionaryPath
          }); %>
        </div>
      </section>
    </main>
    <%- include('../includes/overlay.ejs')%>
    <%- include('../includes/footer.ejs') %>
	</body>

  <script src="/js/home.js"></script>
  <script>
    Library.configure();
  </script>
<%- include("../includes/end") %>
