<%- include("../includes/head") %>
  <link rel="stylesheet" href="/css/pages/sign-in.css">
  <link rel="stylesheet" href="/css/components/input.css">
  <link rel="stylesheet" href="/css/components/button.css">
  </head>
	<body>
		<div class="wrapper">
      <div class="container">
        <div class="welcome-container">
          <h2 class="heading">З поверненням!</h2>
          <div class="prompt">
            <p class="prompt__question">Немає акаунту?</p>
            <%- include('../components/link.ejs', {
              href: "/sign-up",
              linkClass: "prompt__link",
              text: "Зареєструватися"
            }); %>
          </div>
        </div>
        <hr>
            <form class="form">
              <div class="form-content-container ">
                <%- include('../components/input.ejs', {
                  id: "email",
                  label: "Email",
                  inputMode: "email",
                  placeholder: "example@gmail.com",
                  dataAttributes: {
                    "data-input-email": ""
                  }
                }); %>
                <p class="error-message" data-error-email></p>
                <div class="password-input-container">
                  <%- include('../components/input.ejs', {
                    id: "password",
                    label: "Password",
                    type: "password",
                    placeholder: "***********",
                    dataAttributes: {
                      "data-input-password": ""
                    }
                  }); %>
                  <button class="toggle-password-btn" id="togglePassword" type="button">
                    <img src="/icons/eye-password.svg" alt="" class="show-password-icon">
                  </button>
                </div>
                <p class="error-message" data-error-password></p>
              </div>
              <hr>
              <div class="form-button-container">
                <%- include('../components/button.ejs', {
                  type: "submit",
                  label: "Увійти"
                }); %>
              </div>
              
            </form>
      </div>
    </div>
  
    <script src="/js/sign-in.js"></script>
    <script src="/shared/helpers/password-toggle.js"></script>
    <script>
      Library.configure({ routePath: "<%= routePath %>" })
    </script>
	</body>
<%- include("../includes/end") %>
