<%- include("../includes/head") %>
  <link rel="stylesheet" href="/css/pages/sign-in.css">
  <link rel="stylesheet" href="/css/components/input.css">
  <link rel="stylesheet" href="/css/components/button.css">
  </head>
	<body>
		<div class="wrapper">
      <div class="container">
        <h1>З поверненням</h1>
            <form class="form">
              <%- include('../components/input.ejs', {
                id: "email",
                label: "Email",
                inputMode: "email",
                placeholder: "example@gmail.com",
              }); %>
              <%- include('../components/input.ejs', {
                id: "password",
                label: "Password",
                type: "password",
                placeholder: "•••••••••",
              }); %>
              <%- include('../components/button.ejs', {
                type: "submit",
                label: "Увійти"
              }); %>
            </form>
            <a href="/sign-up">Зареєструватися</a>
      </div>
    </div>

    <script src="/js/sign-in.js"></script>
    <script>
      Library.configure({ routePath: "<%= routePath %>" })
    </script>
	</body>
<%- include("../includes/end") %>
