<%- include("../includes/head") %>
  <link rel="stylesheet" href="/css/pages/sign-in.css">
  <link rel="stylesheet" href="/css/components/input.css">
  <link rel="stylesheet" href="/css/components/button.css">
  </head>
	<body>
		<div class="wrapper">
      <div class="container">
        <div class="sign-in-welcome-container">
        <h1 class="sign-in-title">З поверненням!</h1>
        <div class="register-container">
          <p class="sign-in-text">Немає акаунту?</p>
          <a href="/sign-up" class="register-text">Зареєструватися</a>
        </div>
      </div>
        <hr>
            <form class="form">
              <div class="form-content-container ">
                <%- include('../components/input.ejs', {
                  id: "email",
                  label: "Email",
                  inputMode: "email",
                  placeholder: "example@gmail.com",
                }); %>
              <%- include('../components/password-input.ejs'); %>
              </div>
              <hr>
              <div class="form-button-container">
                <%- include('../components/button.ejs', {
                  type: "submit",
                  label: "Увійти"
                }); %>
              </div>
            </form>
           
      </div>
    </div>

    <script src="/js/sign-in.js"></script>
    <script src="/js/toggle-password.js"></script>
    <script>
      Library.configure({ routePath: "<%= routePath %>" })
    </script>
	</body>
<%- include("../includes/end") %>
