<div class="form-control">
  <label for="<%= id %>" class="<%= locals.labelClassName ? labelClassName : '' %>"><%= label %></label>
  <input
    type="<%= locals.type ? type : 'text' %>"
    id="<%= id %>"
    <%= locals.inputMode ? 'inputmode=' + inputMode : '' %>
    <%- locals.placeholder ? 'placeholder=' + placeholder  : '' %>
    <% if (locals.dataAttributes) { %>
      <% for (var dataAttr in dataAttributes) { %>
        <%= dataAttr %>="<%= dataAttributes[dataAttr] %>"
      <% } %>
    <% } %>
    class="input"
  >
</div>
