<% if (locals.src) { %>
    <a href="<%- href %>" class="link <%- locals.className ? className : '' %>">
        <img src="<%- src %>" alt="<%- locals.alt ? alt : 'image' %>">
        <p class="<%- locals.additionalClassName ? additionalClassName : '' %>"><%- content %></p>
    </a>
<% } else { %>
    <a href="<%- href %>" class="link <%- locals.className ? className : '' %>">
        <%- content %>
    </a>
<% } %>
