<header class="header">
    <div class="container">
        <div class="header-left">
            <div class="logo-container">
                <img src="/assets/icons/website-logo.svg" alt="" class="logo-icon">
                <%- include('../components/link.ejs', {
                    href: "/",
                    content: "Dictionary of words",
                    className: "logo-text"
                }); %>
                <!-- <h2 class="logo-text">Dictionary of words</h2> -->
            </div>
            <nav class="page-navigation">
                <ul class="navigation-list">
                    <li class="navigation-item">
                        <%- include('../components/link.ejs', {
                            href: "/",
                            content: "Головна",
                            className: "navigation-item-link"
                        }); %>
                    </li>
                    <li class="navigation-item">
                        <%- include('../components/link.ejs', {
                            href: "/dictionary",
                            content: "Словник",
                            className: "navigation-item-link"
                        }); %>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="controls">
            <% if (isAuthorized) { %>
                <%- include('../components/link.ejs', {
                    href: logOutPath,
                    content: "Вийти",
                    className: "btn control-btn"
                  })
                %>
              <% } else { %>
                <%- include('../components/link.ejs', {
                    href: "/sign-in",
                    content: "Увійти",
                    className: "btn control-btn"
                }); %>
                <%- include('../components/link.ejs', {
                    href: "/sign-up",
                    content: "Зареєструватися",
                    className: "btn control-btn-active"
                }); %>
              <% } %>
        </div>
    </div>
</header>