<header class="header-container">
    <div class="header">
        <%- include('./button.ejs',{
            src:'/assets/icons/burger.svg',
            alt:'Burger icon',
            imageClassName: 'sidebar-button__icon',
            className: "sidebar-button",
            label:""
        }); %>
        <div class="header__content">
            <%- include('../components/link.ejs', {
                href: homePath,
                src: "/assets/images/website-logo.svg",
                content: "Dictionary of words",
                className: "header__logo-container",
                alt: "logo"
            }); %>
            <nav class="navigation">
                <ul class="navigation__list">
                    <li class="navigation__list-item">
                        <%- include('../components/link.ejs', {
                            href: homePath,
                            content: "Головна",
                            className: "navigation__list-item-link"  + (routePath === homePath ? " navigation__list-item-link--active" : "")
                        }); %>
                    </li>
                    <li class="navigation__list-item">
                        <%- include('../components/link.ejs', {
                            href: dictionaryPath,
                            content: "Словник",
                            className: "navigation__list-item-link" + (routePath === dictionaryPath ? " navigation__list-item-link--active" : "")
                        }); %>
                    </li>
                    <li class="navigation__list-item">
                        <%- include('../components/link.ejs', {
                            href: explorePath,
                            content: "Нове",
                            className: "navigation__list-item-link" + (routePath === explorePath ? " navigation__list-item-link--active" : "")
                        }); %>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="controls">
            <% if (isAuthorized) { %>
                <div class="avatar-button">
                    <img class="avatar-button__image" src=" <%= locals.image ? image : '/assets/icons/default-avatar.svg' %>" alt="">
                </div>
                
                <div class="user-menu-container hidden">
                    <div class="user-menu">
                        <div class="user-menu__header">
                            <div class="user-menu__header-avatar">
                                <img class="user-menu__header-avatar-image" src="<%= locals.image ? image : '/assets/icons/default-avatar.svg' %>" alt="">
                            </div>
                            <div class="user-menu__header-info">
                                <p class="user-menu__header-info-fullname"><%= user.fullName%></p>
                                <p class="user-menu__header-info-email"><%= locals.user? user.email : '' %></p>
                            </div>
                        </div>
                    
                        <%- include('../components/separator.ejs') %>
                    
                        <div class="user-menu__settings">
                            <img class="user-menu__settings-icon" src="/assets/icons/settings.svg" alt="">
                            <a class="user-menu__settings-link" href="<%= settingsPath %>">Налаштування</a>
                        </div>
                    
                        <%- include('../components/separator.ejs') %>
                    
                        <div class="user-menu__cta">
                            <%- include('../components/button.ejs', {
                                href: logOutPath,
                                label: "Вийти",
                                className: "user-menu__cta-button",
                            }) %>
                        </div>
                    </div>
                </div>                
              <% } else { %>
                <%- include('../components/button.ejs', {
                    href: signInPath,
                    label: "Увійти",
                    className: "header__control-btn"
                }); %>
                <%- include('../components/button.ejs', {
                    href: signUpPath,
                    label: "Зареєструватися",
                    className: "header__control-btn--active"
                }); %>
              <% } %>
        </div>
         
    </div>
</header>

 <%- include('./sidebar.ejs')%>