<header class="header-container">
    <div class="header">
        <%- include('./button.ejs',{
            src:'/assets/icons/burger.svg',
            alt:'Burger icon',
            imageClassName: 'sidebar-button__icon',
            className: "sidebar-button",
            label:""
        }); %>
        <div class="header__content">
            <%- include('../components/link.ejs', {
                href: homePath,
                src: "/assets/images/website-logo.svg",
                content: "Dictionary of words",
                className: "header__logo-container",
                alt: "logo"
            }); %>
            <nav class="navigation">
                <ul class="navigation__list">
                    <li class="navigation__list-item">
                        <%- include('../components/link.ejs', {
                            href: homePath,
                            content: "Головна",
                            className: "navigation__list-item-link"  + (routePath === homePath ? " navigation__list-item-link--active" : "")
                        }); %>
                    </li>
                    <li class="navigation__list-item">
                        <%- include('../components/link.ejs', {
                            href: dictionaryPath,
                            content: "Словник",
                            className: "navigation__list-item-link" + (routePath === dictionaryPath ? " navigation__list-item-link--active" : "")
                        }); %>
                    </li>
                    <li class="navigation__list-item">
                        <%- include('../components/link.ejs', {
                            href: explorePath,
                            content: "Нове",
                            className: "navigation__list-item-link" + (routePath === explorePath ? " navigation__list-item-link--active" : "")
                        }); %>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="controls">
            <% if (isAuthorized) { %>
                <%- include('../components/avatar-button.ejs', {
                    user: user,
                  })
                %>
              <% } else { %>
                <%- include('../components/button.ejs', {
                    href: signInPath,
                    label: "Увійти",
                    className: "header__control-btn"
                }); %>
                <%- include('../components/button.ejs', {
                    href: signUpPath,
                    label: "Зареєструватися",
                    className: "header__control-btn--active"
                }); %>
              <% } %>
        </div>
         
    </div>
</header>

 <%- include('./sidebar.ejs')%>